<div class="card">
  <div class="card-body">
    <h3 class="text-center">Lista de asignaturas</h3>
    <table class="table table-striped table-bordered">
      <thead class="text-center thead-dark">
        <th>Nombre</th>
        <th>Código</th>
        <th>Carga horaria</th>
        <th>Cuatrimestre</th>
        <th>Estado</th>
        <th>Correlativas</th>
        <th>Acciones</th>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let subject of subjects">
          <td>{{ subject.name }}</td>
          <td>{{ subject.code }}</td>
          <td>{{ subject.classLoad }}</td>
          <td>{{ subject.quarter }}</td>
          <td>{{ subject.state }}</td>
          <td>{{ subject.correlatives | json }}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary text-white" routerLink="/subjects/edit/{{ subject.$key }}"><i class="far fa-edit"></i></button>
              <button type="button" class="btn btn-danger text-white" (click)="onDelete(subject.$key)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<button class="btn btn-primary" routerLink="/subjects/create">Crear</button>