<h3 class="text-center">Lista de asignaturas</h3>
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead class="text-center thead-dark">
			<th>Código</th>
			<th>Nombre</th>
			<th>Año</th>
			<th>Cuatrimestre</th>
			<th>Carga horaria</th>
			<th>Creditos</th>
			<th>Correlativas</th>
			<th>Acciones</th>
		</thead>
		<tbody class="text-center">
			<tr *ngFor="let subject of subjects">
				<td>{{ subject.code }}</td>
				<td>{{ subject.name }}</td>
				<td>{{ subject.year }}</td>
				<td>{{ subject.quarter }}</td>
				<td>{{ subject.classLoad }}</td>
				<td>{{ subject.credits }}</td>
				<td>{{ subject.correlatives | json }}</td>
				<td>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary text-white" routerLink="/subjects/edit/{{ subject.$key }}"><i class="far fa-edit"></i></button>
						<button type="button" class="btn btn-danger text-white" (click)="onDelete(subject.$key)"><i class="fas fa-trash-alt"></i></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<hr>
<button class="btn btn-primary" routerLink="/subjects/create">Crear Asignatura</button>