<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
<h3>Bienvenido, INVITADO</h3>
<p>Para comenzar, inicie sesión...</p>

<button class="btn btn-primary" (click)="auth.googleLogin()">
    <i class="fab fa-google"></i> Iniciar sesión mediante Google
</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user | async as user">
    <h3>Bienvenido, {{ user.displayName }}</h3>
    <img  [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <p>Favorite Color: {{ user?.favoriteColor }} </p>
    <button class="btn btn-danger" (click)="auth.signOut()">Cerrar sesión</button>
</div>
</ng-template>