<div *ngIf="!parent">
    <select class="form-control select" [ngModel]="model" (ngModelChange)="change($event)" [attr.disabled]="disabled">
      <option [value]="''">-- Carreras --</option>
      <option *ngFor="let career of filterResult" [value]="career.$key">{{ career.name }}</option>
    </select>
  </div>
  <div *ngIf="parent">
    <div [formGroup]="parent">
      <select class="form-control select" [formControlName]="name" [attr.disabled]="disabled">
        <option [value]="''">-- Carreras --</option>
        <option *ngFor="let career of filterResult" [value]="career.$key">{{ career.name }}</option>
      </select>
    </div>
  </div>
  