<div class="card bg-light">
  <div class="card-header">
    <b>
      {{ (editMode ? "Editar" : "Crear") + " Universidad" }}
    </b>
  </div>
  <div class="card-body">
    <form [formGroup]="universityForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="$key">Código:</label>
          <input type="text" class="form-control" name="$key" formControlName="$key">
        </div>
        <div class="form-group col-md-8">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" name="name" formControlName="name">
        </div>
      </div>

      <div class="form-group" formArrayName="headquarters">
        <h6 class="card-subtitle mb-2">
          Sedes
        </h6>

        <ul class="list-group list-group-flush">
          <div *ngFor="let h of headquartersForm.controls; let i = index" [formGroupName]="i">
            <li class="list-group-item">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ "Sede #" + (i + 1) }}
                  </h6>
                </div>
                <input type="hidden" name="$key" formControlName="$key">
                <div class="form-group col-md-6">
                  <label for="name">Nombre:</label>
                  <input type="text" class="form-control" name="name" formControlName="name">
                </div>
                <div class="form-group col-md-6">
                  <label for="address">Dirección:</label>
                  <input type="text" class="form-control" name="address" formControlName="address">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="city">Ciudad:</label>
                  <input type="text" class="form-control" name="city" formControlName="city">
                </div>
                <div class="form-group col-md-4">
                  <label for="country">País:</label>
                  <input type="text" class="form-control" name="country" formControlName="country">
                </div>
                <div class="form-group col-md-4">
                  <label for="telephone">Teléfono:</label>
                  <input type="text" class="form-control" name="telephone" formControlName="telephone">
                </div>
              </div>
              <button type="button" class="btn btn-danger" (click)="deleteHeadquarters(i)">Eliminar Sede</button>
            </li>
          </div>
        </ul>
      </div>
      <button type="button" class="btn btn-primary" (click)="addNewHeadquarters()">Agregar Sede</button>

      <div class="form-group mt-4" formArrayName="departments">
        <h6 class="card-subtitle mb-2">
          Departamento
        </h6>

        <ul class="list-group list-group-flush">
          <div *ngFor="let d of departmentsForm.controls; let i = index" [formGroupName]="i">
            <li class="list-group-item">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ "Departamento #" + (i + 1) }}
                  </h6>
                </div>
                <input type="hidden" name="$key" formControlName="$key">
                <div class="form-group col-md-6">
                  <label for="name">Nombre:</label>
                  <input type="text" class="form-control" name="name" formControlName="name">
                </div>
              </div>
              <button type="button" class="btn btn-danger" (click)="deleteDepartment(i)">Eliminar Departamento</button>
            </li>
          </div>
        </ul>
      </div>
      <button type="button" class="btn btn-primary" (click)="addNewDepartment()">Agregar Departamento</button>

      <hr>
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="reset" class="btn btn-secondary">Limpiar</button>
      </div>

    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" (click)="goBack()">Volver</button>
    </div>
  </div>
</div>
