<div *ngIf="!parent">
  <select class="form-control select" [ngModel]="model" (ngModelChange)="change($event)" [attr.disabled]="disabled ? 'disabled' : null">
    <option [value]="''">-- Universidades --</option>
    <option *ngFor="let university of universities" [value]="university.$key">{{ university.name + " (" + university.$key.toUpperCase() + ")" }}</option>
  </select>
</div>
<div *ngIf="parent">
  <div [formGroup]="parent">
    <select class="form-control select" [formControlName]="name" [attr.disabled]="disabled ? 'disabled' : null">
      <option [value]="''">-- Universidades --</option>
      <option *ngFor="let university of universities" [value]="university.$key">{{ university.name + " (" + university.$key.toUpperCase() + ")" }}</option>
    </select>
  </div>
</div>
